@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

:root {
    /* primary colors */
    --col1: hsl(12, 88%, 59%);
    --col2: hsl(228, 39%, 23%); 
    --col3: hsl(227, 77%, 8%);

    /* Neutrals */
    --neu1: hsl(227, 12%, 61%);
    --neu2: hsl(233, 12%, 13%);
    --neu3: hsl(13, 100%, 96%);
    --neu4: hsl(0, 0%, 98%);

    /* Typography */
    --ff:  'Be Vietnam Pro', sans-serif;
    --fs: 16px;
    --fw1: 400;
    --fw2: 500;
    --fw3: 700;
}

/* Mobile screen */
* {
    box-sizing: border-box;
    outline: 1px solid limegreen;
}
@media  screen and (max-width: 428px){
    body {
        background-color: var(--neu4);
    }

    h1, h2, h5, p {
        font-family: var(--ff);
    }
/* navbar begins */
    .navcta {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .navlogo > img {
        width: 100px;
    }

    /* navbar end */


    /* hero section */
    .hero {
        background-image: url(./images/bg-tablet-pattern.svg);
        display: inline-flex;
        flex-direction: column-reverse;
    }

    .heroleft {
        align-content: center;
        align-items: center;
    }

    .heroheading, .herodes {
        text-align: center;
        /* font-family: var(--ff); */
    }

    .herocta {
        text-align: center;
    }
    .heroheading{
        color: var(--col2);
    }

    .herodes {
        color: var(--neu1);
        font-size: 14px;
        line-height: 24px;
    }


    .herocta > button {
        background-color: var(--col1);
        color: var(--neu4);
        padding: 10px 20px;
        border-radius: 50px;
        border: none;
        font-size: 12px;
        text-align: center;
        margin-bottom: 50px;
    }

    .heroright {
        text-align: center;
    }

    .heroright > img{
        width: 412px;

    }
    /* hero section end */


    /* manage section value */

    .value {
        margin-top: 50px;
    }
    .valueleft {
        text-align: center;
    }

    .valueleft > h1 {
        color: var(--col2);
    }

    .valueleft > p {
        color: var(--neu1);
        font-size: 12px;
        line-height: 24px;
    }

    .valuright {
        padding-left: 10px;
        padding-right: 10px;
    }
    .valuelist {
        display: flex;
    }

    .valueindex > h5 {
        background-color: var(--col1);
        color: var(--neu3);
        padding: 5px 15px; /* 5px represents top and bottom 15px represents left and right*/
        border-radius: 20px;
        position: relative;
    }

    .valueinfo > h5{
        background-color:var(--neu3);
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 14px;
        margin-left: -10px;
        color: var(--col2);
        margin-right: -18px;

    }

    .valueinfo > p {
        color: var(--neu1);
        font-size: 12px;
        margin-left: -44px;
        margin-top: -12px;
        line-height: 24px;
    }
    
    /* End */


    /* Testimonial section */
    .testimonial {
        text-align: center;
        padding-top: 18px;
    }

    .testimonial > h1, h5 {
        color: var(--col2);
    }

    .testimonial-info > h5 {
        font-size: 16px;
        color: var(--col2);
    }

    .testimonial-info > img {
        width: 80px;
    }

    .testimonial-info > p {
        color: var(--neu1);
        font-size: 13px;
        line-height: 24px;
        margin-top: -10px;
    }

    .testimonial > button {
        background-color: var(--col1);
        color: var(--neu4);
        padding: 10px 20px;
        border-radius: 50px;
        border: none;
        font-size: 12px;
        text-align: center;
        margin-bottom: 50px;
    }
        /* End */

        /* section cta */
        .cta {
            background-color: var(--col1);
            background-image: url(./images/bg-simplify-section-mobile.svg);
            background-repeat: no-repeat;
            color: var(--neu3);
            text-align: center;
            padding-top: 48px;
            padding-bottom: 68px;
            margin-left: -15px;
            margin-right: -15px;
        }

        .cta > h1 {
            font-size: 24px;
            margin-left: 48px;
            margin-right: 48px;
        }

        .cta > button {
            background-color: var(--neu3);
        color: var(--col1);
        padding: 10px 20px;
        border-radius: 50px;
        border: none;
        font-size: 12px;
        text-align: center;
        margin-bottom: 50px;
        }
        /* End */


        /* Footer */
        footer {
            background-color: var(--col3);
            color: var(--neu3);
            display: flex;
            flex-wrap: wrap;
            flex-direction: column-reverse;
            padding-top: 40px;
            margin-left: -24px;
            margin-right: -24px;
        }

        .newsletter {
            text-align: center;
        }

        .social {
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }

        .links {
            display: flex;
            padding-left: 20px;
            justify-content: center;
        }

        ul, li {
            font-family: var(--ff);
            list-style-type: none;
            font-size: 12px;
            line-height: 24px;
        }

        .newsletter {
            padding: 20px;

        }

        .email {
            padding: 12px 16px;
            border-radius: 50px;
        }

        .submit {
            padding: 12px 24px;
            border-radius: 50px;
            border: none;
            color: var(--neu3);
            background-color: var(--col1);
        }

        /* End */
}

    
/* @media screen and (min-width:376px) , (max-width:1365){
    body {
        background-color: rgb(165, 42, 42);
    }
} */
@media screen and (min-width:1366px){
    body {
        background-color: rgb(43, 32, 19);
    }
}
